<div class="modal-dialog modal-lg" role='document'>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class='modal-title'>Editar Cliente</h2>
            <a href="{% url 'clientes:list_clientes' %}" class='btn btn-secondary' data-dismiss='modal' aria-label='Close'>
                <span aria-hidden='ture'>&times;</span>
            </a>
        </div>
        <form action="{% url 'clientes:edit_cliente' object.id %}" method='POST'>
            {% csrf_token %}
            <div class="modal-body">
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <a href="{% url 'clientes:list_clientes' %}" class='btn btn-secondary' data-dismiss='modal'>Cancelar</a>
                <button class='btn btn-primary' type='submit'>Confirma</button>
            </div>
        </form>
    </div>
</div>