{% extends 'layout.html' %}

{% block title %}
    Clientes
{% endblock title %}

{% block content %}
    <h2 class='fw-bold'>Listado Clientes</h2><br>
    <div class="container">
        <div class="row">
            <div class='col-md-8'>
                <form action="" method='GET'>
                    <div class="col-md-12">
                        <input type="text" class='from-control' placeholder='Código o Nombre' name='buscar' value='{{ request.GET.buscar }}'>
                        <button type='submit' class='btn btn-success'>Buscar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 fluid" align='right'>
                <button onclick="abrir_modal_agregar('{% url 'clientes:add_cliente' %}')" class='btn btn-primary'>
                    Agregar
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div><br>
{% if clientes %}
    <div class='container'>
        <table class='table table-striped'>
            <th>Código</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Editar</th>
            <th>Eliminar</th>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.codigo }}</td>
                <td>{{ cliente.nombre|title }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.direccion|title }}</td>
                <td>
                    <button onclick="abrir_modal_edicion('{% url 'clientes:edit_cliente' cliente.id %}')" class='btn btn-primary'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </button>
                </td>
                <td>
                    <button onclick="abrir_modal_eliminacion('{% url 'clientes:del_cliente' cliente.id %}')" class='btn btn-danger'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                        </svg>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="row">
        <div class="col-md-12" align='center'>
            <div class="col-md-6" align='left'>
                {% if clientes.has_previous %}
                    <div class="">
                        <a href="?page=1" class='btn btn-primary'>&laquo;Primera</a>
                        <a href="?page={{ clientes.previous_page_number }} {% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class='btn btn-primary'>Anterior</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6" align='right'>
                {% if clientes.has_next %}
                    <div class="">
                        <a href="?page={{ clientes.next_page_number }} {% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class='btn btn-primary'>Siguiente</a>
                        <a href="?page={{ clientes.paginator.num_pages }}" class='btn btn-primary'>Última&raquo;</a>
                    </div>
                {% endif %}
            </div>
    </div>

{% else %}
<h3 class='alert alert-info'>No hay clientes registrados.</h3>
{% endif %}
    <!-- Modal -->
    <div class="modal fade" id='agregar' role='dialog'>

    </div>

    <div class="modal fade" id='edicion' role='dialog'>

    </div>

    <div class="modal fade" id='eliminacion', role='dialog'>

    </div>

    {% endblock content %}

{% block extrajs %}
    <script type='text/javascript'>
        var $ = jQuery.noConflict();
        function abrir_modal_edicion(url){
            $('#edicion').load(url, function(){
                $(this).modal('show');
            });
        }

        function abrir_modal_eliminacion(url){
            $('#eliminacion').load(url, function(){
                $(this).modal('show');
            });
        }

        function abrir_modal_agregar(url){
            $('#agregar').load(url, function(){
                $(this).modal('show');
            });
        }
    </script>
{% endblock extrajs %}