<div class="alert alert-primary" role="alert">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="row" colspan="4" class="text-center">DETALLE</th>
        </tr>
        <tr>
          <th scope="col">CODIGO</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">PESO</th>
          <th scope="col">CANT</th>
        </tr>
      </thead>
      <tbody>
      {% if request.session.carrito.items %}
      {% for key, value in request.session.carrito.items %}
        <tr>
            <td>{{value.codigo}}</td>
            <td>{{value.nombre|title}}</td>
            <td>{{value.peso|floatformat:2}}</td>
            <td>
                <a href="{% url 'productos:Sub' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
                    {{value.cantidad}}
                    <a href="{% url 'productos:Add' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
            </td>
        </tr>
      {% endfor %}
      {% else %}
      <tr>
          <td colspan="4">
              <div class="alert alert-danger text-center"> Sin Productos </div>
          </td>
      </tr>
      {% endif %}
        <tr>
          <th scope="row">Total:</th>
          <td colspan="3">(kg) {{total_carrito}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    </div>
    <div class="row text-center">
      {% if total_carrito > 0 %}
        <div class="col-6"><a href="{% url 'productos:CLS' %}" class="btn btn-danger">Limpiar</a></div>
        <div class="col-6"><a href="{% url 'productos:save' %}" class="btn btn-success">Guardar</a></div>
      {% endif %}
    </div>