{% extends 'layout.html' %}

{% block title %}
    Recepciones
{% endblock title %}

{% block content %}
<div class='container'>
    <div class="row">
        <h2 align='center' class='fw-bold'>Comercializadora L.S. S.A.S.</h2>
        <div class="col-md-12" align='right'>
            <a href="{% url 'productos:pdf_recep' recepcion.id %}" class='btn btn-primary'>Generar PDF</a>
        </div>
    </div>
    <div class="row">
        <h5 class='fw-bold'>Datos de Orden</h5>
        <div class="col-md-4">
            <label for="formFileDisabled" class="form-label">Orden N°: </label>
            <input class="form-control" type="text" id="formFileDisabled" disabled value='{{ recepcion.id }}'>
        </div>
        <div class="col-md-4">
            <label for="formFileDisabled" class="form-label">Fecha Recibida: </label>
            <input class="form-control" type="text" id="formFileDisabled" disabled value='{{ recepcion.fecha_recepcion|date:"M. d, Y" }}'>
        </div>
    </div>
    <div class="row">
        <h5 class='fw-bold'>Datos de Proveedor</h5>
        <div class="col-md-4">
            <label for="formFileDisabled" class="form-label">Nombre: </label>
            <input class="form-control" type="text" id="formFileDisabled" disabled value='{{ recepcion.proveedor_id.nombre|title }}'>
        </div>
        <div class="col-md-4">
            <label for="formFileDisabled" class="form-label">Domicilio: </label>
            <input class="form-control" type="text" id="formFileDisabled" disabled value='{{ recepcion.proveedor_id.direccion|title }}'>
        </div>
        <div class="col-md-4">
            <label for="formFileDisabled" class="form-label">Contacto: </label>
            <input class="form-control" type="text" id="formFileDisabled" disabled value='{{ recepcion.proveedor_id.telefono }}'>
        </div>
    </div><hr>
    <h3 align='center' class='fw-bold'>Detalle</h3>
    <table class='table table-striped'>
        <th>Código</th>
        <th>Producto</th>
        <th>Marca</th>
        <th>Cantidad</th>
        {% for detalle in detalles %}
        <tr>
            <td>{{ detalle.producto_id.codigo }}</td>
            <td>{{ detalle.producto_id|title }}</td>
            <td>{{ detalle.producto_id.marca|title }}</td>
            <td>{{ detalle.cantidad }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th colspan="3">Total:</th>
            <td class='fw-bold'> {{ total_c }} </td>
        </tr>
    </table>
</div>
{% endblock content %}