<div class="modal-dialog modal-lg" role='document'>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class='modal-title'>Eliminar Producto</h2>
            <a href="{% url 'productos:list_productos' %}" class='btn btn-secondary' data-dismiss='modal' aria-label='Close'>
                <span aria-hidden='ture'>&times;</span>
            </a>
        </div>
        <form action="{% url 'productos:del_producto' object.id %}" method='POST'>
            {% csrf_token %}
            <div class="modal-body">
                <h2 class="alert alert-warning">¿Desea eliminar el producto <strong>{{ producto.nombre|title }}</strong>?</h2>
            </div>
            <div class="modal-footer">
                <button type='submit' class='btn btn-success'>Aceptar</button>
                <a href="{% url 'productos:list_productos' %}" class='btn btn-secondary'>Cancelar</a>
            </div>
        </form>
    </div>
</div>